html{
    scroll-behavior: smooth;
    scrollbar-color: #ffffff;
}

.wrapper{
    display: flex;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;

}

.topsection{
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    height: 80px;
}

.navbar{
    display: flex;
    position: fixed;
    backdrop-filter: blur(5px);
    justify-content: space-evenly;
    align-items: center;
    top: 15px;
    background-color: #fff1e5c6;
    width: 260px;
    height: 40px;
    border-radius: 50px;
    left: 930px;
    z-index: 100;
}

.navdivider{
    background-color: #453614;
    height: 15px;
    width: 0.5px;
    border-radius: 20px;
}

.navlink{
    font-family: "Space Grotesk", sans-serif;
    font-size: 12px;
    color: #453614;

}

.logo{
    position: relative;
    display: flex;
    width: 40px;
    
}

/*.herosection{
    position: absolute;
    display: flex;
    top: 50px;*/
    

.imaginecreate{
    position: absolute;
    width: 210px;
    left: 520px;
    top: 210px;
    transform: translateZ(-2px) scale(1.2);
    
}

.floatingmac{
    position: relative;
    width: 590px;
    left: 320px;
    top: 50px;
   
}

.textdiv{
    position: relative;
    left: 80px;
    top: 180px;
}

.title{
    color: #02AFA3;
    font-family:'Adhiguno', sans-serif;                                        
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;

}

.wehandcraft{
    font-family: "Space Grotesk", sans-serif;
    color: #02AFA3;
    font-size: 15px;
    font-weight: 400;}

.letsgobutton{
    font-family: "Space Grotesk", sans-serif;
    background-color: rgba(0, 0, 0, 0);
    width: 150px;
    height: 55px;
    color: #02AFA3;
    border-style:solid;
    border-color: #02AFA3;
    border-radius: 300px;
    border-width: 1px;
}

.whatwedo{
    position: absolute;
    color: #02AFA3;
    font-family: "Space Grotesk", sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    top: 850px;
    left: 580px;
    transform: translateZ(-4px) scale(1.4);}

.brandingsection{
    position: absolute;
    display: flex;
    top: 850px;
}

.textdiv2{
    position: absolute;
    top: 1000px;
    transform: translateZ(-2px) scale(1.2);}

.weputbrands{
    color: #02AFA3;
    font-family: 'Adhiguno', sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;}
    
.a-brand-is{
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    font-weight: 400;
    top: -30px;}

.morebutton{
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    background-color: rgba(0, 0, 0, 0);
    width: 120px;
    height: 35px;
    color: #453614;
    border-color: #453614;
    border-radius: 20px;
    border-width: 1px;
    top: -20px;}
    
    
.floatingiphone{
    position: absolute;
    width: 800px;
    left: 230px;
    z-index: 50;
    top: 1000px;
} 

.descriptgraphic{
    position: absolute;
    width: 400px;
    left: 850px;
    top: 1050px;
    transform: translateZ(-2px) scale(1.2);
}

.amateurs{
    position: absolute;
    color: #453614;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    top: 1520px;
    left: 480px;
}

.shittext{
    position: absolute;
    color: #453614;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    top: 1540px;
    left: 520px;
}

.one{
    position: absolute;
    top: -20px;
    font-family: "Space Grotesk", sans-serif;
    color: #02AFA3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-color: #02AFA3;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;

}

.two{
    position: absolute;
    top: 1660px;
    left: 620px;
    font-family: "Space Grotesk", sans-serif;
    color: #02AFA3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-color: #02AFA3;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;}

.meticuloustext{
    position: absolute;
    color: #453614;
    font-family: 'Adhiguno', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    top: 1680px;
    left: 420px;

}

.phonehands{
    position: absolute;
    width: 1300px;
    top: 1840px;
    left: 0px;
}
    
    
    
    
